<!doctype html>
<html lang="fr"
xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layouts/main-layout}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>carte</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    
</head>
  <body>
	  
	  <main layout:fragment="content">
      <div class="text-center mt-5 mb-5">
        <h1>La carte de nos pizzas</h1>
      </div>

      
      <div class="col-2 offset-2 mb-3">
          <label for="type" class="form-label">type de produit</label>
          <select class="form-select" id="type" onchange="filterProducts()">
            <option selected value="all">tout </option>
            <option value="pizza">pizza </option>
            <option value="boisson">boisson </option>
         </select>
      </div>
      
      <div class="row">
        <div class="col-8 offset-2 ">
        <div class="wrapper"> 
          <tr th:each=" produit : ${produits}"  class="product" id="product" th:classappend="' ' + ${produit.typeProduit.libelle}">
          <form th:action="@{/commande/menu}" method="POST" >  
          <input type="hidden" name="idProduit" th:value="${produit.id}">
          
          <div class="card mb-3 mt-3" style="width: 18rem; ">
            <img id="imgpizza" th:src="${produit.urlImage}" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title" th:text="${produit.nom}"></h5>
              <p class="card-text" th:text="${produit.description}"></p>
              <div class="d-flex">
                <label>prix : </label>
                <p class="cart-text" th:text="${produit.prix}"></p>
              </div>
              <div class="d-flex" >
              <label class="form-label">Quantité : </label>
              <select class="form-select w-25 mb-2" id="quantite" name="quantite">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
            </div>
              <button class="btn btn-info" > ajouter</button>
            </div>
          </div>
        
        </form>
        </tr>
         
      </div>
    </div>

    
  </div>
    </main>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    
  </body>
  <script>
    function filterProducts() {
      const selectedType = document.getElementById("type").value;
      const products = document.querySelectorAll(".product");
      products.forEach(product => {
        if (selectedType === "all" || product.classList.contains(selectedType)) {
          product.classList.remove("d-none");
        } else {
          product.classList.add("d-none");
        }
      });
    }

  // Appel initial pour afficher tous les produits
  filterProducts(); 
</script>
</html>