<!doctype html>
<html lang="fr"
xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layouts/main-layout}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>creer un utilisateur</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
  <body>
	  
	 
        <main  layout:fragment="content">
            <h1 class="py-5">creer un utilisateur</h1>
            
            <form th:action="@{/creer}" method="post">
              <div class="col-4 offset-4 mb-3">
                <div class="mb-3" hidden>
                    <label for="type" class="form-label">type d'utilisateur</label>
    
                    <select class="form-select" id="type" th:field="*{client.role.id}">
                      <option selected value="3">CLIENT </option>
                   </select>
                  </div>
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="nom"  th:field="*{client.nom}">
                  </div>
                  <div class="mb-3">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" id="prenom"  th:field="*{client.prenom}">
                  </div>
                  <div class="mb-3">
                    <label for="adresse" class="form-label">Adresse</label>
                    <input type="text" class="form-control" id="adresse"  th:field="*{client.adresse}">
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">mail</label>
                    <input type="email" class="form-control" id="email"  th:field="*{client.email}">
                  </div>
                  <div class="mb-3">
                    <label for="mdp" class="form-label">mot de passe</label>
                    <input type="password" class="form-control" id="mdp"  th:field="*{client.motDePasse}">
                  </div>
                
                <input type="submit" value="creer"></input>
              </div>
            </form>
        </main>
 

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>